.list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-height: 0px;
    overflow: hidden;

    &.is-active {
        max-height: 1000000px;
    }
}

.listitem {
    padding: 8px 12px;

    &:nth-child(odd) {
        background-color: rgb(40,40,40);
    }

    &__content {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
    }

    &__intro {
        display: flex;
        align-items: center;
        margin-left: 16px;
    }

    &__currency-icon {
        width: 30px;
        height: auto;
        margin-left: 8px;
    }

    &__total {
        display: flex;
        width: 100%;
        align-items: center;
        flex: 0 0 25%;
        margin-left: auto;
        border-left: 1px solid #5a5a5a;
    }

    &__info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__title {
        margin-right: 8px;
    }

    &__media {
        height: auto;
        width: 36px;
        margin-right: 12px;
    }

    &__value {
        margin-left: 16px;

        &--total {
            margin-left: auto;
        }
    }

    &__accordion { 
        list-style-type: none;
        overflow: hidden;
        transition: max-height 0.5s;

        .is-closed & {
            max-height: 0px;
        }
    }
}