.list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-height: 0px;
    overflow: hidden;

    &.is-active {
        max-height: 1000000px;
    }
}

.listitem {
    padding: 8px 12px;

    &:nth-child(odd) {
        background-color: rgb(40,40,40);
    }

    &__content {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__title {
        margin-right: 8px;
    }

    &__media {
        height: auto;
        width: 36px;
        margin-right: 12px;
    }

    &__values {
        margin-left: auto;
        margin-right: 24px;
    }

    &__value {
        margin-right: 16px;
    }

    &__toggle {
        margin-left: auto;
    }

    &__accordion { 
        list-style-type: none;
        // max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;

        .is-closed & {
            max-height: 0px;
        }

        // .is-expanded & {
        //     max-height: 200px;
        // }
    }
}