.list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.listitem {
    padding: 8px 12px;

    &:nth-child(odd) {
        background-color: rgb(40,40,40);
    }

    &__content {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
    }

    &__title {
        margin-right: 8px;
    }

    &__media {
        height: auto;
        width: 36px;
        margin-right: 12px;
    }

    &__value {
        margin-left: 10px;
    }

    &__toggle {
        margin-left: auto;
    }

    &__accordion { 
        list-style-type: none;
        // max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;

        .is-closed & {
            max-height: 0px;
        }

        // .is-expanded & {
        //     max-height: 200px;
        // }
    }
}